.new-user {
  margin-left: auto;
  width: auto;
  .button-new-user {
    border-radius: 35px;
    margin-right: 20px;
    font-size: 15px;
    height: 40px;
    background: #b8b4b4;
    border-radius: 5px;
    color: #fff;
  
    i {
      font-size: initial;
    }
  
    &:hover {
      background: #1d8eff;
  
    }
  }
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}