<div class="new-user">
  <button nz-button class="button-new-user" (click)="showModal()" nzType="default"><i nz-icon nzType="plus"></i>Crear Usuario</button>
</div>

<nz-table [nzLoading]="isLoading" [nzPageSize]="pageSize" nzTitle="Usuarios" #editRowTable [nzData]="users">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Profesión</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let data of editRowTable.data">
      <td>
        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
          {{ data.first_name }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.first_name" (blur)="stopEdit()" />
      </td>
      <td>
        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
          {{ data.last_name }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.last_name" (blur)="stopEdit()" />
      </td>
      <td>
        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
          {{ data.email }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.email" (blur)="stopEdit()" />
      </td>
      <td>
        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
          {{ data.profession }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.profession" (blur)="stopEdit()" />
      </td>
      <td>
        <a nz-popconfirm nzPopconfirmTitle="Seguro que quieres eliminar?" (nzOnConfirm)="deleteRow(data.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal *ngIf="isVisible" [(nzVisible)]="isVisible" nzTitle="Creando un usuario" (nzOnCancel)="handleCancel()" (nzOnOk)="createUser()">
  <nz-form-item>
    <nz-form-label nzFor="note">Nombre</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa el nombre del usuario">
      <input nz-input placeholder="Escribir nombre del usuario" [(ngModel)]="newUser.first_name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="note">Apellido</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa el apellido del usuario">
      <input nz-input placeholder="Escribir apellido del usuario" [(ngModel)]="newUser.last_name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="note">Email</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa el email del usuario">
      <input nz-input placeholder="Escribir email del usuario" [(ngModel)]="newUser.email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="note">Profesión</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa la profesión del usuario">
      <input nz-input placeholder="Escribir profesión del usuario" [(ngModel)]="newUser.profession"/>
    </nz-form-control>
  </nz-form-item>
</nz-modal>